In [1]:
# Import libraries
import pandas as pd

In [3]:
# Read an excel file into a pandas data frame
cust_addr = pd.read_excel('KPMG_raw_data.xlsx', sheet_name = 'CustomerAddress', header = 1)

In [5]:
cust_addr

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...,...
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

In [6]:
# Print a concise summary of a data frame
cust_addr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [7]:
# Find duplicate rows in a data frame
cust_addr.duplicated().sum()

0

In [8]:
# Check if any value is NaN in a data frame
cust_addr.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [9]:
# Find the number of unique values for each column
cust_addr.nunique()

customer_id           3999
address               3996
postcode               873
state                    5
country                  1
property_valuation      12
dtype: int64

In [10]:
# Find the number of unique values in the state column
cust_addr['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

The state column has 5 values : 'NSW', 'VIC', 'QLD', 'New South Wales' and 'Victoria' which means 'Unidentified'. So these need to be grouped to make them more consistent

In [11]:
# Replace values 'New South Wales : NSW', 'Victoria' : 'VIC'
cust_addr['state'] = cust_addr['state'].replace('New South Wales','NSW').replace('Victoria','VIC')
cust_addr['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [12]:
# Find the number of unique values in the country column
cust_addr['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [13]:
cust_addr

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,NSW,Australia,10
1,2,6 Meadow Vale Court,2153,NSW,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,NSW,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...,...
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

In [14]:
cust_addr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [15]:
# Exports data frame to a CSV file 
cust_addr.to_csv('Cust_Addr_Cleaned.csv',index = False)

# **Summary Customer Address table:**

**Consistency**
1.   State: inconsistency