In [27]:
# Import libraries
import pandas as pd

In [28]:
# Read an excel file into a pandas data frame
trans = pd.read_excel('KPMG_raw_data.xlsx', sheet_name = 'Transactions', header = 1)

In [30]:
trans

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [31]:
# Print a concise summary of a data frame
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [32]:
# Find duplicate rows in a data frame
trans.duplicated().sum()

0

In [33]:
# Check if any value is NaN in a pandas data frame
trans.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

There are some missing values in multiple columns. These missing values can be dropped because less than 1% of transactions (totaling less than 0.1% of revenue) have missing fields.

The product_first_sold_date column is float data type which has to be chaged to date format.

In [34]:
# Drop missing values in all columns
trans = trans.dropna()
trans.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [35]:
# Change data type of the product_first_sold_date column from float to date
trans['product_first_sold_date'] = pd.to_datetime(trans['product_first_sold_date'], unit = 'D', origin='1899-12-30')
trans['product_first_sold_date']

0       2012-12-02
1       2014-03-03
2       1999-07-20
3       1998-12-16
4       2015-08-10
           ...
19995   2003-07-21
19996   1997-05-10
19997   2010-08-20
19998   2004-08-17
19999   1999-06-23
Name: product_first_sold_date, Length: 19445, dtype: datetime64[ns]

In [36]:
# Find the number of unique values for each column
trans.nunique()

transaction_id             19445
product_id                   101
customer_id                 3492
transaction_date             364
online_order                   2
order_status                   2
brand                          6
product_line                   4
product_class                  3
product_size                   3
list_price                   100
standard_cost                103
product_first_sold_date      100
dtype: int64

In [37]:
# Find the number of unique values in the online_order column
trans['online_order'].value_counts()

1.0    9739
0.0    9706
Name: online_order, dtype: int64

In [38]:
# Find the number of unique values in the order_status column
trans['order_status'].value_counts()

Approved     19273
Cancelled      172
Name: order_status, dtype: int64

In [48]:
# Fillter out 'Cancelled' value in the order_status column
trans = trans[trans['order_status'] == 'Approved']
trans['order_status'].value_counts()

Approved    19273
Name: order_status, dtype: int64

In [40]:
# Find the number of unique values in the brand column
trans['brand'].value_counts()

Solex             4128
Giant Bicycles    3217
WeareA2B          3215
OHM Cycles        2967
Trek Bicycles     2906
Norco Bicycles    2840
Name: brand, dtype: int64

In [41]:
# Find the number of unique values in the product_line column
trans['product_line'].value_counts()

Standard    13795
Road         3859
Touring      1204
Mountain      415
Name: product_line, dtype: int64

In [42]:
# Find the number of unique values in the product_class column
trans['product_class'].value_counts()

medium    13467
high       2918
low        2888
Name: product_class, dtype: int64

In [43]:
# Find the number of unique values in the product_size column
trans['product_size'].value_counts()

medium    12658
large      3863
small      2752
Name: product_size, dtype: int64

In [44]:
# Create a profit column for further analysis
trans['profit'] =  trans['list_price'] - trans['standard_cost'] 
trans['profit']

0          17.87
1        1702.55
2        1544.61
3         817.36
4        1055.82
          ...
19995     802.26
19996     104.24
19997    1592.19
19998      91.15
19999     195.34
Name: profit, Length: 19273, dtype: float64

In [45]:
trans

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,profit
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02,17.87
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03,1702.55
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20,1544.61
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16,817.36
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10,1055.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,2003-07-21,802.26
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,1997-05-10,104.24
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,2010-08-20,1592.19
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,2004-08-17,91.15
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,1999-06-23,195.34

In [46]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19273 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19273 non-null  int64
 1   product_id               19273 non-null  int64
 2   customer_id              19273 non-null  int64
 3   transaction_date         19273 non-null  datetime64[ns]
 4   online_order             19273 non-null  float64
 5   order_status             19273 non-null  object
 6   brand                    19273 non-null  object
 7   product_line             19273 non-null  object
 8   product_class            19273 non-null  object
 9   product_size             19273 non-null  object
 10  list_price               19273 non-null  float64
 11  standard_cost            19273 non-null  float64
 12  product_first_sold_date  19273 non-null  datetime64[ns]
 13  profit                   19273 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(3), object(5)
memory usage: 2.2+ MB

In [49]:
# Exports data frame to a CSV file 
trans.to_csv('Trans_Cleaned.csv',index = False)

# **Summary Customer Transactions table:**

**Accuracy:** 
1.   Profit: missing

**Completeness**

1.   Online order: blanks
2.   Brand: blanks
3.   Product line: blanks
4.   Product class: blanks
5.   Product size: blanks
6.   Standard cost: blanks
7.   Product first sold_date: blanks


**Relevancy**

1.   Order status: filter out Cancelled value

**Validity**

1.   Product first sold date: Wrong format